---
import lokkeeImage from '@assets/images/lokkee.webp';
import Container from '@components/Container';
import Caption from '@components/text/Caption';
import Paragraph from '@components/text/Paragraph.astro';
import TypingHeading from '@components/text/TypingHeading';

const headings = [
  'Developer',
  'Problem solver',
  'Designer',
  'Coffeeholic',
  'Freelancer',
  'Globetrotter',
];
---

<section
  id="about"
  class="relative z-10 flex min-h-screen w-full flex-col items-center bg-neutrals-900 lg:flex-row"
>
  <img
    src={lokkeeImage.src}
    alt="Myself, LOKKEE, at the harbour, with a view of the sea and a vision in mind"
    width={lokkeeImage.width}
    height={lokkeeImage.height}
    decoding="async"
    loading="lazy"
    class="inset-0 max-h-screen w-full object-cover object-center lg:absolute lg:h-full lg:w-1/2"
  />
  <Container>
    <div class="w-full py-28 lg:flex">
      <div class="lg:ml-auto lg:basis-1/2 lg:pl-8">
        <Caption>About</Caption>
        <TypingHeading
          client:visible
          headings={headings}
        />
        <Paragraph>
          I&apos;m LOKKEE, a passionate freelancer bringing you programming and
          design from the future. I am experienced in developing websites and
          web applications including full front end design. This includes brand
          identity, graphics and illustrations.
        </Paragraph>
      </div>
    </div>
  </Container>
</section>
