---
import { Image } from '@astrojs/image/components';
import Caption from '@components/text/Caption.astro';
import portraitImage from '../../assets/images/portrait.webp';
import Paragraph from '../text/Paragraph.astro';
---

<section
  id="about"
  class="relative z-10 flex w-full flex-col items-center bg-neutrals-900 py-28 md:flex-row xl:min-h-screen"
>
  <Image
    src={portraitImage}
    alt="A portrait of myself, LOKKEE"
    loading="lazy"
    class="relative -top-28 max-h-screen w-full object-cover object-center md:absolute md:top-0 md:h-full md:w-1/2 md:pr-10 xl:pr-0"
  />
  <div class="mx-auto h-full w-10/12 2xl:w-[80%]">
    <div class="flex h-full w-full flex-col md:flex-row">
      <div class="ml-auto basis-1/2 md:self-center xl:pl-20">
        <Caption text="About" />
        <div class="mb-6 inline-block font-mono text-4xl font-bold lg:text-5xl">
          <h2 class="sr-only">Problem solver</h2>
          <p
            id="typewriter"
            aria-hidden="true"
            class="w-0 overflow-hidden whitespace-nowrap"
          >
            Error (╯°□°)╯︵ ┻━┻
          </p>
          <p class="border-neutrals-300 border-r">A</p>
        </div>
        <Paragraph
          text="I'm LOKKEE, a passionate freelancer bringing you programming and design from the future. I am experienced in developing websites and web applications including full front end design. This includes brand identity, graphics and illustrations."
        />
      </div>
    </div>
  </div>
</section>

<script>
  import '../../ts/about.ts';
</script>
