---
/* imports */
import site from "../../data/site";
---

<section
  id="sourcecode"
  class="w-full bg-neutrals-50 flex py-28 items-center relative z-10 xl:min-h-screen flex-col md:flex-row"
  aria-label="Source code"
>
  <img
    class="object-cover object-center w-full max-h-screen relative -top-28 md:top-0 md:w-1/2 md:h-full md:pr-10 xl:pr-0 md:absolute"
    loading="lazy"
    width={756}
    height={1008}
    src="/assets/source-code.webp"
    alt="A picture of myself, lokkee"
  />
  <div class="mx-auto w-10/12 2xl:w-[80%] h-full">
    <div class="flex flex-col md:flex-row h-full w-full">

      <div class="basis-1/2 md:self-center ml-auto xl:pl-20">
        <h2 class="font-display font-bold text-brand md:text-xl uppercase mb-4">
          Source code
        </h2>
        <h3
          class="font-display font-bold text-neutrals-900 text-4xl md:text-5xl mb-8"
        >
          Behind the simulation
        </h3>
        <p class="text-neutrals-900/60 leading-relaxed max-w-prose mb-14">
          You take the blue pill - you keep scrolling, you leave this site and
          believe whatever you want to believe. You take the red pill - you stay
          in Wonderland, and I show you how deep the rabbit hole goes.
        </p>
        <a
          href={site.sourcecodeURL}
          rel="noreferrer"
          target="_blank"
          class="inline-block px-7 py-3 border-2 border-brand bg-brand text-neutrals-50 bg-[length:140%] bg-no-repeat bg-[position:400%] hover:bg-[position:50%] hover:text-brand transition-all duration-500"
          style="background-image: url('/assets/button-light.svg')"
        >
          Show me
        </a>
      </div>
    </div>
  </div>
</section>
