---
import ProjectsCarousel from '@components/project/ProjectsCarousel';
import Caption from '@components/text/Caption';
import Heading from '@components/text/Heading.astro';
import getProjects from '@utils/getProjects';

const projects = await getProjects();
---

<section
  class="relative z-10 w-full bg-neutrals-50 py-28 xl:min-h-screen"
  aria-label="Work"
>
  <div class="mx-auto w-10/12 text-center 2xl:w-[80%]">
    <Caption>Work</Caption>
    <Heading isDark>Dig into my universe</Heading>
  </div>
  <!-- id="work" -->
  <ProjectsCarousel
    client:visible
    projects={projects}
  />
</section>
