---
/* imports */
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import LoadingScreen from "../components/LoadingScreen.astro";

/* declare properties */
const { title } = Astro.props;
---

<!-- This site was developed by Lokkee Studios (https://lokkeestudios.com) -->
<html lang="en" class="scroll-smooth">
  <!--======= INITIALIZATION ========-->
  <Head title={title} />

  <body
    class="font-body bg-neutrals-900 text-neutrals-50 selection:bg-brand/90 selection:text-neutrals-50 w-full"
  >
    <!--======= LOADING SCREEN ========-->
    <LoadingScreen />

    <!--======= NAVIGATION ========-->
    <Header />

    <slot />

    <!--======= FOOTER ========-->
    <Footer />

    <script>
      import "../ts/base.ts";
    </script>
  </body>
</html>
