---
import PageNotFoundSection from '@components/sections/PageNotFoundSection.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Page not found">
  <main id="main">
    <PageNotFoundSection />
  </main>
</Layout>
