---
/* import components */
import PageNotFoundSection from "../components/sections/PageNotFoundSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page not found | LOKKEE STUDIOS">
  <main>
    <!--======= 404 - PAGE NOT FOUND ========-->
    <PageNotFoundSection />
  </main>
</BaseLayout>
