---
/* import components */
import ImprintSection from "../components/sections/ImprintSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout title="Imprint | LOKKEE STUDIOS">
  <main>
    <!--======= IMPRINT ========-->
    <ImprintSection />
  </main>
</BaseLayout>
