---
/* import components */
import BaseLayout from "../layouts/BaseLayout.astro";

import Imprint from "../components/Imprint.astro";
---

<BaseLayout title="Imprint | Lokkee Studios">
  <main>
    <!--======= IMPRINT ========-->
    <Imprint />
  </main>
</BaseLayout>
