---
import ImprintSection from '@components/sections/ImprintSection.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Imprint">
  <main id="main">
    <ImprintSection />
  </main>
</Layout>
