---
import ImprintSection from '../components/sections/ImprintSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Imprint | LOKKEE STUDIOS">
  <main>
    <ImprintSection />
  </main>
</Layout>
