---
/* import layout */
import AboutSection from "../components/sections/AboutSection.astro";
import ContactSection from "../components/sections/ContactSection.astro";
/* import components */
import HeroSection from "../components/sections/HeroSection.astro";
import SourceCodeSection from "../components/sections/SourceCodeSection.astro";
import WorkSection from "../components/sections/WorkSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="LOKKEE STUDIOS | Programming and Design from the Future">
  <main>
    <!--======= HERO ========-->
    <HeroSection />

    <!--======= ABOUT ========-->
    <AboutSection />

    <!--======= WORK ========-->
    <WorkSection />

    <!--======= CONTACT ========-->
    <ContactSection />

    <!--======= SOURCE CODE ========-->
    <SourceCodeSection />
  </main>
</BaseLayout>
