//  ===========================
//  Container component styling
//  ===========================

.container {
  margin: 0 auto;
  width: Min(80%, 80rem);

  &:not(&--is-not-spaced) {
    margin: 5rem auto;
  }
}
