//  ========================
//  Footer component styling
//  ========================

.footer {
  width: 100%;
  background: var(--color-dark-not-black);
  position: fixed;
  bottom: 0;
}

.footer__content {
  padding: 2em 0;
}

.footer__content__link {
  text-decoration: none;
  color: var(--color-off-white);
  font-size: var(--size-smaller-body);
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 0;
}

.footer__content__list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__content__list-item {
  display: inline-block;
  margin-right: 1.4em;

  .footer__content__link:is(:hover, :focus) {
    border-bottom: 1px solid var(--color-off-white);
  }
}

.footer__content__socials {
  float: right;
}

.footer__content__social-icon {
  color: var(--color-off-white);
  font-size: 1.9em;
  margin-left: 0.2em;
}

.footer__copyright {
  padding: 0.6em 0;
  background: var(--color-brand);
}
