//  ============================
//  Navigation component styling
//  ============================

//  Imports mixins for responsiveness
@use '../abstracts/mixins' as mixins;

.navigation {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1.6em 0;
  background: none;
  transition: background 0.85s ease-in-out;

  @include mixins.responsive-down('medium') {
    background: rgba(var(--rgb-dark-not-black), var(--opacity-not-much-transparency));
  }
}

.navigation__link {
  text-decoration: none;
  color: var(--color-off-white);
  font-size: var(--size-smaller-body);
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 0;
}

.navigation__brand {
  text-decoration: none;
  color: var(--color-off-white);
  font-size: var(--size-body);
  font-family: var(--font-headline);
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;

  b {
    font-weight: 700;
  }
}

.navigation__content {
  float: right;

  @include mixins.responsive-down('small') {
    display: none;
    flex-direction: column;
    float: none;
  }
}

.navigation__list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;

  @include mixins.responsive-down('small') {
    display: block;
    padding-top: 2em;
  }
}

.navigation__list-item {
  display: inline-block;
  margin-right: 1.4em;

  .navigation__link:is(:hover, :focus) {
    border-bottom: 1px solid var(--color-off-white);
  }
}

.navigation__socials {
  display: inline-block;

  @include mixins.responsive-down('small') {
    display: block;
    padding-top: 2em;
  }
}

.navigation__social-icon {
  color: var(--color-off-white);
  font-size: 1.9em;
  margin-top: -0.08em;
  margin-left: 0.2em;
}

.navigation__menu-toggle {
  color: var(--color-off-white);
  font-size: 1.2em;
  float: right;
  cursor: pointer;
  display: none !important; //  Otherwise Fontawesome is going to overwrite the property

  @include mixins.responsive-down('small') {
    display: inline-block !important; //  Otherwise Fontawesome is going to overwrite the property
  }
}
