//  =========================
//  Section component styling
//  =========================

.section {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0;
  object-fit: cover;
  background-color: var(--color-off-white);

  &--is-centered {
    display: table-cell;
    vertical-align: middle;
  }

  &--is-dark {
    background-color: var(--color-dark-not-black);
  }

  &--is-brand {
    background-color: var(--color-brand);
  }

  &--has-future-grid-background {
    background-image: url('../img/future-grid.webp');
  }
}
