---
import classNames from '../../utils/classNames';

export interface Props {
  text: string;
  isDark?: boolean;
}

const { text, isDark } = Astro.props;
---

<h2
  class={classNames(
    'mb-6 font-display text-4xl font-bold  md:text-5xl',
    isDark ? 'text-neutrals-900' : 'text-neutrals-50',
  )}
>
  {text}
</h2>
