---
import classNames from '@utils/classNames';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'p'> {
  isDark?: boolean;
}

const { isDark, ...props } = Astro.props;
---

<p
  class={classNames(
    'max-w-prose leading-relaxed',
    isDark ? ' text-neutrals-500' : ' text-neutrals-300',
  )}
  {...props}
>
  <slot />
</p>
