---
import classNames from '../../utils/classNames';

export interface Props {
  text: string;
  isDark?: boolean;
}

const { text, isDark } = Astro.props;
---

<p
  class={classNames(
    'max-w-prose leading-relaxed',
    isDark ? ' text-neutrals-900/60' : ' text-neutrals-50/60',
  )}
>
  {text}
</p>
