---
import { ScrollProgress } from '@/components/scroll-progress';
import BlogPostSection from '@/components/sections/blog-post.astro';
import Layout from '@/layouts/layout.astro';
import { getBlogPosts } from '@/lib/sanity/get-blog-posts';
import { imageUrlFor } from '@/lib/sanity/sanity-image';
import { type InferGetStaticPropsType } from 'astro';

export async function getStaticPaths() {
  const blogPosts = await getBlogPosts();

  return blogPosts.map((blogPost) => ({
    params: { slug: blogPost.slug.current },
    props: { blogPost },
  }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { blogPost } = Astro.props;

const openGraphImage = {
  src: imageUrlFor(blogPost.poster).format('png').width(1200).height(630).fit('crop').url(),
  alt: blogPost.poster.alt,
};
---

<Layout
  title={`${blogPost.title} ― Blog`}
  description={blogPost.excerpt}
  openGraphImage={openGraphImage}
>
  <ScrollProgress client:idle />
  <main id="main">
    <BlogPostSection blogPost={blogPost} />
  </main>
</Layout>
