---
import ProjectDetailsSection from '@components/sections/ProjectDetailsSection.astro';
import Layout from '@layouts/Layout.astro';
import type { Project } from '@utils/getProjects';
import getProjects from '@utils/getProjects';

export async function getStaticPaths() {
  const projects = await getProjects();

  return projects.map((project) => ({
    params: { slug: project.slug.current },
    props: { project },
  }));
}
export interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<Layout title={`${project.name} ― Projects`}>
  <main id="main">
    <ProjectDetailsSection project={project} />
  </main>
</Layout>
