---
/* import components */
import ProjectPage from "../../components/ProjectPage.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { client } from "../../lib/sanityClient";
import Project from "../../types/Project";

/* generate site for each project */
export async function getStaticPaths() {
  let projects: Project[] = [];
  const query = "*[_type == 'projects'] | order(date desc)";
  await client.fetch(query).then((data) => projects = data);

  return projects.map((project) => ({params: { slug: project.slug.current }, props: { project }}));
}
export interface Props {
  project: Project;
};

/* declare properties */
const { project } = Astro.props;
---

<BaseLayout title={`${project.name} ― Projects | LOKKEE STUDIOS`}>
  <main>
    <!--======= PROJECT ========-->
    <ProjectPage project={project} />
  </main>
</BaseLayout>
