//  ==================================================
//  Contains everything related to keyframe animations
//  ==================================================

// Minimizes amount of animation and motion if the user prefers reduced-motion
@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

// Loading-wheel spin animation
@keyframes loading-wheel-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Typewriter text typing animation
@keyframes typewriter-typing {
  0%,
  100% {
    width: 0;
  }
  40%,
  70% {
    width: 100%;
  }
}
