//  ========================
//  Contains all base styles
//  ========================

.page {
  font-family: var(--font-primary);
  background: var(--color-off-white);
  color: var(--color-dark-not-black);
  width: 100%;
  overflow: hidden;
}

::selection, ::-moz-selection {
  background: var(--color-cyan);
}
