//  =====================================
//  Does some restyling to default styles
//  of the fullpage.js library
//
//  This may not be the cleanest way and
//  does indeed break the BEM-Principles
//  but it does its job and prevented
//  some library-digging headaches
//  =====================================

//  Imports mixins for responsiveness
@use '../abstracts/mixins' as mixins;

#fp-nav {
  z-index: 10;
}

#fp-nav.fp-left {
  left: 3vw;
}

#fp-nav ul li .fp-tooltip {
  color: var(--color-dark-not-black);
  font-size: var(--size-smaller-body);
  font-family: var(--font-primary);
  padding: 0.3em;
  margin-left: 0.6em;
  background: var(--color-cyan);
  text-transform: capitalize;
}

#fp-nav ul li a span {
  background: var(--color-grayish-black);
}

#fp-nav ul li :is(a, a.active) :is(span, span:hover) {
  top: 0;
  left: 0;
  margin: 0;
}

#fp-nav ul li a.active span {
  background: var(--color-brand-v2);
}
