//  =====================================
//  Does some restyling to default styles
//  of the fullpage.js library
//
//  This may not be the cleanest way and
//  does indeed break the BEM-Principles
//  but it does its job and prevented
//  some library-digging headaches
//  =====================================

//  Imports mixins for responsiveness
@use '../abstracts/mixins' as mixins;

#fp-nav {
  z-index: 10;
}

#fp-nav.fp-left {
  left: 3vw;
}

#fp-nav ul li .fp-tooltip {
  color: var(--color-dark-not-black);
  font-size: var(--size-smaller-body);
  font-family: var(--font-primary);
  padding: 0.3em;
  margin-left: 0.6em;
  background: var(--color-off-white);
  text-transform: capitalize;
  transition: ease-in-out 0.65s;
  transition-property: background, color;
}

#fp-nav ul li a span {
  background: var(--color-off-white);
  transition: background ease-in-out 0.65s;
}
