@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --font-inter: 'Inter', var(--font-sans);

  --color-primary: #6919ff;
  --color-neutrals-900: #060918;
  --color-neutrals-800: #161a2c;
  --color-neutrals-700: #23263b;
  --color-neutrals-600: #2e364f;
  --color-neutrals-500: #4d5775;
  --color-neutrals-400: #6f7a9b;
  --color-neutrals-300: #96a1c0;
  --color-neutrals-200: #c7d0e5;
  --color-neutrals-100: #f0f2fe;
  --color-neutrals-50: #fffef9;
  --color-success: #00f090;
  --color-warning: #ffdc30;
  --color-error: #ff2e5b;

  --animate-glitch-1: glitch 4s linear infinite alternate-reverse;
  --animate-glitch-2: glitch 2s linear infinite alternate-reverse;
  --animate-marquee: marquee 40s linear infinite;
  --animate-shiny-badge-slide: shiny-badge-slide 6s infinite;
  --animate-jiggle: jiggle 0.6s cubic-bezier(0.85, 0, 0.15, 1);

  @keyframes glitch {
    10.5263%: {
      clip: rect(65px, 9999px, 200px, 0);
    }
    15.7895%: {
      clip: rect(8px, 9999px, 200px, 0);
    }
    21.0526%: {
      clip: rect(51px, 9999px, 159px, 0);
    }
    26.3158%: {
      clip: rect(6px, 9999px, 82px, 0);
    }
    31.5789%: {
      clip: rect(1px, 9999px, 106px, 0);
    }
    36.8421%: {
      clip: rect(17px, 9999px, 69px, 0);
    }
    42.1053%: {
      clip: rect(65px, 9999px, 144px, 0);
    }
    47.3684%: {
      clip: rect(1px, 9999px, 91px, 0);
    }
    52.6316%: {
      clip: rect(18px, 9999px, 209px, 0);
    }
    57.8947%: {
      clip: rect(14px, 9999px, 175px, 0);
    }
    63.1579%: {
      clip: rect(61px, 9999px, 107px, 0);
    }
    68.4211%: {
      clip: rect(73px, 9999px, 178px, 0);
    }
    73.6842%: {
      clip: rect(53px, 9999px, 207px, 0);
    }
    78.9474%: {
      clip: rect(33px, 9999px, 199px, 0);
    }
    84.2105%: {
      clip: rect(73px, 9999px, 144px, 0);
    }
    89.4737%: {
      clip: rect(79px, 9999px, 163px, 0);
    }
    94.7369%: {
      clip: rect(1px, 9999px, 76px, 0);
    }
    100%: {
      clip: rect(64px, 9999px, 117px, 0);
    }
  }

  @keyframes marquee {
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes shiny-badge-slide {
    0% {
      transform: translateX(-100%) skewX(-16deg);
    }
    15%,
    100% {
      transform: translateX(100%) skewX(-16deg);
    }
  }

  @keyframes jiggle {
    0,
    100% {
      transform: skewX(0deg) skewY(0deg);
    }
    50% {
      transform: skewX(-6deg) skewY(-6deg);
    }
  }
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@utility bg-radial-highlight {
  background-image: radial-gradient(
    circle at 50% 100%,
    rgba(46, 54, 79, 0.6) 1%,
    rgba(6, 9, 24, 1) 100%
  );
}

@utility bg-shiny-frame {
  background:
    linear-gradient(rgb(6, 9, 24), rgb(6, 9, 24)) padding-box padding-box,
    linear-gradient(42deg, rgb(6, 9, 24) 45%, rgba(255, 254, 249, 0.9)) border-box border-box;
}
