@import 'tailwindcss';
@config '../../tailwind.config.ts';

@utility mask-radial-faded {
  mask-image: radial-gradient(circle at center center, black, transparent 75%);
}

@utility mask-inline-faded {
  mask-image: linear-gradient(to right, transparent, black 25%, black 75%, transparent);
}

@utility bg-shiny-frame {
  background:
    linear-gradient(rgb(6, 9, 24), rgb(6, 9, 24)) padding-box padding-box,
    linear-gradient(42deg, rgb(6, 9, 24) 45%, rgba(255, 254, 249, 0.9)) border-box border-box;
}

@utility play-state-paused {
  animation-play-state: paused;
}

@utility scrollbar-none {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

@utility scrollbar-stylized {
  &::-webkit-scrollbar {
    @apply w-1.5;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-neutrals-50/15 rounded-full;
  }

  &::-webkit-scrollbar-track {
    @apply bg-inherit;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-neutrals-50/20;
  }
}
