<div
  id="loader"
  class="flex fixed top-0 left-0 z-50 h-screen w-screen bg-neutrals-900 justify-center items-center"
>
  <img id="loader-logo" width={80} height={80} class="absolute h-20 w-20" src="/assets/logo.svg" />
</div>

<script>
  import "../ts/loadingScreen.ts";
</script>
