---
import GridBackground from '@/components/grid-background';
import Button from '@/components/ui/button';
import Container from '@/components/ui/container';
---

<section
  aria-labelledby="hero-heading"
  class="sticky inset-0 flex h-screen w-full flex-col justify-center py-28"
>
  <GridBackground client:visible />
  <Container>
    <div class="flex flex-col items-center justify-center">
      <h1
        id="hero-heading"
        class="text-center text-4xl font-bold leading-tight text-neutrals-50 sm:text-5xl md:text-7xl md:leading-tight lg:text-8xl lg:leading-tight"
      >
        Web Development <br />and Design Studio <br />from the Future
      </h1>
      <div class="mt-12 flex items-stretch gap-x-6 gap-y-3 max-sm:flex-col sm:items-center">
        <Button
          as="a"
          href="/#work"
          background="primary"
          size="large"
        >
          Dig into my universe
        </Button>
        <Button
          as="a"
          href="/#services"
          background="primary"
          size="large"
          isGhost
        >
          See services
        </Button>
      </div>
    </div>
  </Container>
</section>
