---
import { GridBackground } from '@/components/grid-background';
import { Button } from '@/components/ui/button';
import { Container } from '@/components/ui/container';
---

<section
  aria-labelledby="hero-heading"
  class="sticky inset-0 flex h-screen w-full flex-col justify-center py-28"
>
  <GridBackground client:visible />
  <Container>
    <div class="flex flex-col items-center justify-center">
      <h1
        id="hero-heading"
        class="text-balance text-center text-4xl/tight font-bold text-neutrals-50 sm:text-5xl/tight md:text-7xl lg:text-8xl/tight"
      >
        Web Development and Design Studio from the Future
      </h1>
      <div class="mt-12 flex items-stretch gap-x-6 gap-y-3 max-sm:flex-col sm:items-center">
        <Button
          as="a"
          href="/#work"
          background="primary"
          size="large"
        >
          Dig into our universe
        </Button>
        <Button
          as="a"
          href="/#services"
          background="primary"
          size="large"
          isGhost
        >
          See services
        </Button>
      </div>
    </div>
  </Container>
</section>
