---
import { Container } from '@/components/ui/container';
import Section from '@/components/ui/section.astro';
import { Heading, Paragraph } from '@/components/ui/typography';
import { siteConfig } from '@/lib/config/site';
---

<Section aria-labelledby="imprint-heading">
  <Container>
    <div class="max-w-prose md:mx-auto">
      <h1
        id="imprint-heading"
        class="mb-8 text-5xl/tight font-bold text-balance md:text-7xl/tight"
      >
        Imprint
      </h1>
      <address class="grid gap-y-16 not-italic">
        <div>
          <Heading>Details</Heading>
          <Paragraph>
            <span class="text-neutrals-100">LOKKEE STUDIOS OÜ</span><br />
            Lõõtsa 2a<br />
            11415 Tallinn, Estonia<br /><br />
            CEO: Kilian Peters
          </Paragraph>
        </div>
        <div>
          <Heading>Contact</Heading>
          <Paragraph>
            E-Mail:
            <a
              href={`mailto:${siteConfig.email}`}
              title="Hit us up"
              class="text-neutrals-100 hover:text-primary border-b border-current transition-colors"
            >
              {siteConfig.email}</a
            ><br />Phone number is given out on request.
          </Paragraph>
        </div>
      </address>
    </div>
  </Container>
</Section>
