---
import { MatrixBackground } from '@/components/matrix-background';
import { Button } from '@/components/ui/button';
import { Container } from '@/components/ui/container';
import Section from '@/components/ui/section.astro';
import { Caption, Heading, Paragraph } from '@/components/ui/typography';
import { siteConfig } from '@/lib/config/site';
---

<Section
  id="source-code"
  aria-labelledby="sourcecode-heading"
  hasBorderTop
>
  <MatrixBackground client:visible />
  <Container>
    <div class="flex h-full flex-col items-center justify-center text-center">
      <Caption id="sourcecode-heading">Source code</Caption>
      <Heading>Behind the simulation</Heading>
      <Paragraph>
        You take the <span class="text-neutrals-100">blue pill</span> - you keep scrolling, you leave
        this website and believe whatever you want to believe. You take the <span
          class="text-neutrals-100">red pill</span
        > - you stay in wonderland, and we show you how deep the rabbit hole goes.
      </Paragraph>
      <Button
        as="a"
        href={siteConfig.links.sourcecode}
        rel="noreferrer"
        target="_blank"
        foreground="error"
        className="mt-8"
      >
        Show me
      </Button>
    </div>
  </Container>
</Section>
