---
import { StarsBackground } from '@/components/stars-background';
import TestimonialCard from '@/components/testimonial-card.astro';
import { Container } from '@/components/ui/container';
import Section from '@/components/ui/section.astro';
import { Caption, Heading, Paragraph } from '@/components/ui/typography';
import { getTestimonials } from '@/lib/sanity/get-testimonials';

const testimonials = await getTestimonials();
const reversedTestimonials = [...testimonials].reverse();
---

<Section
  id="stories"
  aria-labelledby="stories-heading"
  hasBorderTop
  hasGlowEffect
>
  <StarsBackground client:visible />
  <Container>
    <div class="mb-16 flex flex-col items-center text-center">
      <Caption id="stories-heading">Customer Stories</Caption>
      <Heading> Trusted by the kindest clients </Heading>
      <Paragraph>
        Here&apos;s a glimpse into the heartfelt experiences of our incredible clients.<br />Your
        trust fuels our passion.
      </Paragraph>
    </div>
  </Container>
  <div class="group mb-6 flex w-full overflow-x-clip mask-x-from-80%">
    <ul class="group-hover:paused motion-reduce:paused animate-marquee flex">
      {testimonials.map((testimonial) => <TestimonialCard testimonial={testimonial} />)}
    </ul>
    <ul
      aria-hidden="true"
      class="group-hover:paused motion-reduce:paused animate-marquee flex"
    >
      {testimonials.map((testimonial) => <TestimonialCard testimonial={testimonial} />)}
    </ul>
  </div>
  <div class="group flex w-full overflow-x-clip mask-x-from-80%">
    <ul
      aria-hidden="true"
      class="group-hover:paused motion-reduce:paused animate-marquee flex [animation-direction:reverse]"
    >
      {reversedTestimonials.map((testimonial) => <TestimonialCard testimonial={testimonial} />)}
    </ul>
    <ul
      aria-hidden="true"
      class="group-hover:paused motion-reduce:paused animate-marquee flex [animation-direction:reverse]"
    >
      {reversedTestimonials.map((testimonial) => <TestimonialCard testimonial={testimonial} />)}
    </ul>
  </div>
</Section>
