---
import TestimonialCard from '@/components/testimonial-card';
import Container from '@/components/ui/container';
import { Caption, Heading, Paragraph } from '@/components/ui/typography';
import getTestimonials from '@/lib/sanity/get-testimonials';

const testimonials = await getTestimonials();
---

{
  testimonials.length > 0 && (
    <section
      id="stories"
      aria-labelledby="stories-heading"
      class="relative z-10 w-full bg-neutrals-900 py-28"
    >
      <Container>
        <div class="flex flex-col items-center text-center">
          <Caption id="stories-heading">Customer Stories</Caption>
          <Heading>
            Trusted by the
            <br />
            kindest clients
          </Heading>
          <Paragraph>
            It is my mission to deliver you the web presence you deserve.
          </Paragraph>
        </div>
      </Container>
      <div class="mask-inline-faded group mt-8 flex w-full overflow-x-hidden">
        <ul class="group-hover:play-state-paused motion-reduce:play-state-paused flex animate-marquee">
          {testimonials.map((testimonial) => (
            <TestimonialCard testimonial={testimonial} />
          ))}
        </ul>
        <ul
          aria-hidden="true"
          class="group-hover:play-state-paused motion-reduce:play-state-paused flex animate-marquee"
        >
          {testimonials.map((testimonial) => (
            <TestimonialCard testimonial={testimonial} />
          ))}
        </ul>
      </div>
    </section>
  )
}
