---
import { ProjectCarousel } from '@/components/project-carousel';
import { Container } from '@/components/ui/container';
import Section from '@/components/ui/section.astro';
import { Caption, Heading } from '@/components/ui/typography';
import { getProjects } from '@/lib/sanity/get-projects';

const projects = await getProjects();
---

<Section
  id="work"
  aria-labelledby="work-heading"
  hasBorderTop
  hasGlowEffect
  class="lg:border-neutrals-600 lg:border-t-[0.5px] lg:before:hidden lg:after:hidden"
>
  <Container>
    <div class="flex flex-col items-center text-center">
      <Caption id="work-heading">Work</Caption>
      <Heading>Dig into our universe</Heading>
    </div>
  </Container>
  <ProjectCarousel
    client:idle
    projects={projects}
  />
</Section>
