//  ===========================
//  Contains all font variables
//  ===========================

//  Font families
$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;

$fonts: (
  'primary': $roboto,
  'headline': $roboto-condensed,
  'monospace': $roboto-mono
);
