---
/* import components */
import BaseLayout from "../layouts/BaseLayout.astro";

import PageNotFound from "../components/PageNotFound.astro";
---

<BaseLayout title="Page not found | Lokkee Studios">
  <main>
    <!--======= 404 - PAGE NOT FOUND ========-->
    <PageNotFound />
  </main>
</BaseLayout>
