---
import ImprintSection from '@/components/sections/imprint.astro';
import Layout from '@/layouts/layout.astro';
---

<Layout title="Imprint">
  <main id="main">
    <ImprintSection />
  </main>
</Layout>
