---
/* import components */
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Imprint | Lokkee Studios">
  <main>
    <section class="section section--is-centered">
      <div class="container">
        <h1 class="headline headline--is-gigantic headline--is-uppercase">
          Imprint
        </h1>

        <h3 class="headline headline--is-small">Legal information</h3>
        <p class="paragraph paragraph--is-not-spaced">Kilian Peters</p>
        <p class="paragraph paragraph--is-not-spaced">Lokkee Studios</p>
        <p class="paragraph paragraph--is-not-spaced">Langenfelderstraße 75</p>
        <p class="paragraph">22769 Hamburg</p>

        <h3 class="headline headline--is-small">Contact</h3>
        <p
          class="paragraph paragraph--is-not-spaced"
          id="openEmail"
          title="Contact me"
        >
          E-Mail:
          <a class="paragraph paragraph--is-clickable"
            >hello@lokkeestudios.com</a
          >
        </p>
        <p class="paragraph">Telephone: 015129805086</p>

        <h3 class="headline headline--is-small">Design</h3>
        <p class="paragraph paragraph--is-not-spaced">
          Designed and Coded by Lokkee
        </p>
      </div>
    </section>
  </main>
</BaseLayout>
