---
/* import components */
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Work from "../components/Work.astro";
import Contact from "../components/Contact.astro";
import SourceCode from "../components/SourceCode.astro";
---

<BaseLayout title="Lokkee Studios | Programming and Design from the Future">
  <main>
    <!--======= HERO ========-->
    <Hero />

    <!--======= ABOUT ========-->
    <About />

    <!--======= WORK ========-->
    <Work />

    <!--======= CONTACT ========-->
    <Contact />

    <!--======= SOURCE CODE ========-->
    <SourceCode />
  </main>
</BaseLayout>
