---
import AboutSection from '@/components/sections/about.astro';
import ContactSection from '@/components/sections/contact.astro';
import HeroSection from '@/components/sections/hero.astro';
import ServicesSection from '@/components/sections/services.astro';
import SourceCodeSection from '@/components/sections/source-code.astro';
import TestimonialsSection from '@/components/sections/testimonials.astro';
import WorkSection from '@/components/sections/work.astro';
import Layout from '@/layouts/layout.astro';
---

<Layout>
  <main id="main">
    <HeroSection />
    <AboutSection />
    <WorkSection />
    <TestimonialsSection />
    <ServicesSection />
    <ContactSection />
    <SourceCodeSection />
  </main>
</Layout>
