---
import Footer from '@/components/layout/footer';
import Head from '@/components/layout/head.astro';
import Header from '@/components/layout/header';
import LoadingScreen from '@/components/layout/loading-screen';

export interface Props {
  title?: string;
  description?: string;
  openGraphImage?: { src: string; alt: string };
}

const { title, description, openGraphImage } = Astro.props;
---

<!doctype html>
<!-- This site was developed by LOKKEE STUDIOS (https://lokkeestudios.com) -->
<html
  lang="en"
  class="color-scheme-dark scroll-smooth"
>
  <Head
    title={title}
    description={description}
    openGraphImage={openGraphImage}
  />
  <body
    class="scrollbar-thin bg-neutrals-900 text-neutrals-50 antialiased selection:bg-primary selection:text-neutrals-50"
  >
    <a
      href="#main"
      class="sr-only"
    >
      Skip to main content
    </a>
    <LoadingScreen client:load />
    <Header client:idle />
    <slot />
    <Footer client:visible />
  </body>
</html>
