---
import Button from '@components/button/Button';
import site from '@data/site';
---

<section
  id="contact"
  class="relative z-10 flex w-full items-center bg-neutrals-900 py-28 xl:min-h-screen"
  aria-label="Contact"
>
  <div class="mx-auto h-full w-10/12 2xl:w-[80%]">
    <!-- split -->
    <div class="flex h-full w-full flex-col lg:flex-row">
      <!-- split left -->
      <div class="basis-full lg:self-center">
        <h2
          class="mb-4 inline-block font-display font-bold uppercase text-primary lg:text-xl"
        >
          Contact
        </h2>
        <h3 class="mb-8 font-display text-4xl font-bold lg:text-5xl">
          Got a problem to solve?
        </h3>
        <p class="mb-12 max-w-prose leading-relaxed text-neutrals-50/60">
          Get your space suit ready and tell me your ideas to develop your dream
          application.
        </p>
        <a
          class="mb-14 inline-block max-w-prose cursor-pointer leading-relaxed text-neutrals-50 transition-colors hover:text-primary"
          href={`mailto:${site.email}`}
          title="Hit me up"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="mr-1 mb-1 inline h-6 w-6"
            viewBox="0 0 24 24"
            fill="currentColor"
          >
            <path
              d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"
            ></path>
          </svg>
          {site.email}</a
        >
      </div>

      <!-- split left -->
      <div class="mt-10 basis-full lg:mt-0 lg:ml-28 lg:self-center">
        <div
          id="contact-form-success"
          class="hidden"
        >
          <h2
            class="mb-4 font-display font-bold uppercase text-primary lg:text-xl"
          >
            Successful!
          </h2>
          <h3 class="mb-8 font-display text-4xl font-bold lg:text-5xl">
            I&aps;ll be in touch with you
          </h3>
          <img
            src="/assets/contact.svg"
            alt="A flying paper plane"
            class="max-w-[768px]"
          />
        </div>

        <!-- form -->
        <form id="contact-form">
          <!-- name input -->
          <label
            for="form-name"
            class="mb-2 block text-sm uppercase text-neutrals-200"
            >Name
          </label>
          <div class="relative mt-1 mb-12">
            <div
              class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-neutrals-400"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                  d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"
                ></path></svg
              >
            </div>

            <input
              type="text"
              id="form-name"
              name="name"
              maxlength={40}
              oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Name is empty.')"
              onclick="document.getElementById('form-name').classList.add('peer'); document.getElementById('form-name').classList.add('invalid:border-error');"
              required
              class="focus:ring-none block w-full rounded-md border-[1.5px] border-neutrals-700 bg-neutrals-800 p-2.5 pl-10 pr-10 focus:border-primary focus:outline-none"
            />

            <!-- validation displays -->
            <div
              class="pointer-events-none invisible absolute inset-y-0 right-0 flex items-center pr-3 peer-valid:visible"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-success"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
            <div
              class="pointer-events-none invisible absolute inset-y-0 right-0 flex items-center pr-3 peer-invalid:visible"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-error"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
            <span
              class="invisible absolute mt-[0.4rem] text-sm text-error peer-invalid:visible"
              >Name is empty.</span
            >
          </div>

          <!-- email input -->
          <label
            for="form-email"
            class="mb-2 block text-sm uppercase"
          >
            Email
          </label>
          <div class="relative mt-1 mb-12">
            <div
              class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-neutrals-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                ><path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                ></path><path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                ></path></svg
              >
            </div>

            <input
              type="email"
              id="form-email"
              name="email"
              maxlength={40}
              oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Email is empty or invalid.')"
              onclick="document.getElementById('form-email').classList.add('peer'); document.getElementById('form-email').classList.add('invalid:border-error');"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
              required
              class="focus:ring-none block w-full rounded-md border-[1.5px] border-neutrals-700 bg-neutrals-800 p-2.5 pl-10 focus:border-primary focus:outline-none"
            />

            <!-- validation displays -->
            <div
              class="pointer-events-none invisible absolute inset-y-0 right-0 flex items-center pr-3 peer-valid:visible"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-success"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
            <div
              class="pointer-events-none invisible absolute inset-y-0 right-0 flex items-center pr-3 peer-invalid:visible"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-error"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
            <span
              class="invisible absolute mt-[0.4rem] text-sm text-error peer-invalid:visible"
              >Email is empty or invalid.</span
            >
          </div>

          <!-- message textarea -->
          <label
            for="form-message"
            class="mb-2 block text-sm uppercase"
          >
            Message
          </label>
          <div class="relative mt-1">
            <textarea
              id="form-message"
              name="message"
              rows={4}
              oninput="this.setCustomValidity('')"
              oninvalid="this.setCustomValidity('Message is empty.')"
              onclick="document.getElementById('form-message').classList.add('peer'); document.getElementById('form-message').classList.add('invalid:border-error');"
              required
              class="focus:ring-none block w-full rounded-lg border border-neutrals-700 bg-neutrals-800 p-2.5 focus:border-primary focus:outline-none"
            ></textarea>

            <!-- validation displays -->
            <div
              class="pointer-events-none invisible absolute inset-y-0 right-0 flex items-center pr-3 peer-valid:visible"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-success"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
            <div
              class="pointer-events-none invisible absolute inset-y-0 right-0 flex items-center pr-3 peer-invalid:visible"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-error"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
            <span
              class="invisible absolute mt-[0.4rem] text-sm text-error peer-invalid:visible"
              >Message is empty.</span
            >
          </div>

          <Button type="submit">
            Hit me up <svg
              xmlns="http://www.w3.org/2000/svg"
              class="ml-2 inline-block h-5 w-5"
              viewBox="0 0 24 24"
              fill="currentColor"
              ><path
                d="M20.563 3.34a1.002 1.002 0 0 0-.989-.079l-17 8a1 1 0 0 0 .026 1.821L8 15.445v6.722l5.836-4.168 4.764 2.084a1 1 0 0 0 1.399-.85l1-15a1.005 1.005 0 0 0-.436-.893zm-2.466 14.34-5.269-2.306L16 9.167l-7.649 4.25-2.932-1.283 13.471-6.34-.793 11.886z"
              ></path></svg
            >
          </Button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  import '../../ts/contact.ts';
</script>
