---
import GridBackground from '@/components/grid-background';
import ButtonLink from '@/components/ui/button-link';
import Container from '@/components/ui/container';
---

<section
  class="sticky inset-0 flex h-screen w-full flex-col justify-center py-28"
>
  <GridBackground client:visible />
  <Container>
    <div class="flex flex-col items-center justify-center">
      <h1
        class="text-center text-5xl font-bold leading-tight text-neutrals-50 md:text-7xl md:leading-tight lg:text-8xl lg:leading-tight"
      >
        Programming<br />and Design<br />from the Future
      </h1>
      <ButtonLink
        href="/#work"
        background="primary"
        size="large"
        className="mt-12"
      >
        Dig into my universe
      </ButtonLink>
    </div>
  </Container>
</section>
