---
import ButtonLink from '@components/button/ButtonLink';
import Container from '@components/Container';
import GridBackground from '@components/GridBackground';
---

<section
  class="sticky inset-0 flex h-screen w-full flex-col justify-center bg-primary py-28 selection:bg-neutrals-900 selection:text-neutrals-50"
  aria-label="Hero"
>
  <GridBackground client:visible />
  <Container>
    <div class="flex flex-col items-center justify-center">
      <h1
        class="text-center font-display text-5xl font-bold leading-tight md:text-7xl md:leading-tight lg:text-8xl lg:leading-tight"
      >
        Programming<br />and Design<br />from the Future
      </h1>
      <ButtonLink
        href="/#work"
        foregroundColor="light"
        backgroundColor="primary"
        isHollow
      >
        Dig into my universe
      </ButtonLink>
    </div>
  </Container>
</section>
