---
import Container from '@/components/ui/container';
import { Heading, Paragraph } from '@/components/ui/typography';
import siteConfig from '@/config/site';
---

<section
  aria-labelledby="imprint-heading"
  class="flex min-h-screen w-full items-center py-28"
>
  <Container>
    <h1
      id="imprint-heading"
      class="mb-3 text-5xl font-bold leading-tight md:text-7xl md:leading-tight lg:text-8xl lg:leading-tight"
    >
      Imprint
    </h1>
    <address class="grid gap-y-12 not-italic">
      <div>
        <Heading>Details</Heading>
        <Paragraph>
          LOKKEE STUDIOS<br />Kilian Peters<br />Langenfelderstraße 75<br
          />22769 Hamburg, Germany
        </Paragraph>
      </div>
      <div>
        <Heading>Contact</Heading>
        <Paragraph>
          E-Mail:
          <a
            href={`mailto:${siteConfig.email}`}
            title="Hit me up"
            class="border-b border-current transition-colors hover:text-primary"
          >
            {siteConfig.email}</a
          ><br />Phone number is given out on request.
        </Paragraph>
      </div>
      <div>
        <Heading>Content responsibility</Heading>
        <Paragraph>Kilian Peters</Paragraph>
      </div>
    </address>
  </Container>
</section>
