---
import lokkee2Image from '@assets/images/lokkee2.webp';
import ButtonLink from '@components/button/ButtonLink';
import ChildrenEntranceAnimator from '@components/ChildrenEntranceAnimator';
import Container from '@components/Container';
import Caption from '@components/text/Caption';
import Heading from '@components/text/Heading.astro';
import Paragraph from '@components/text/Paragraph.astro';
import site from '@data/site';
---

<section
  id="sourcecode"
  class="relative z-10 flex min-h-screen w-full flex-col items-center bg-neutrals-50 py-28 md:flex-row"
>
  <img
    src={lokkee2Image.src}
    alt="Myself, LOKKEE, walking down a pier"
    width={lokkee2Image.width}
    height={lokkee2Image.height}
    decoding="async"
    loading="lazy"
    class="relative -top-28 max-h-screen w-full object-cover object-center md:absolute md:top-0 md:h-full md:w-1/2 md:pr-10 xl:pr-0"
  />
  <Container>
    <div class="ml-auto basis-1/2 md:ml-auto md:w-1/2 md:self-center xl:pl-20">
      <ChildrenEntranceAnimator>
        <Caption client:visible>Source code</Caption>
        <Heading isDark>Behind the simulation</Heading>
        <Paragraph isDark>
          You take the blue pill - you keep scrolling, you leave this site and
          believe whatever you want to believe. You take the red pill - you stay
          in Wonderland, and I show you how deep the rabbit hole goes.
        </Paragraph>
      </ChildrenEntranceAnimator>
      <ButtonLink
        href={site.sourcecodeUrl}
        rel="noreferrer"
        target="_blank"
        foregroundColor="error"
        backgroundColor="light"
      >
        Show me
      </ButtonLink>
    </div>
  </Container>
</section>
