---
import ProjectCarousel from '@/components/project-carousel';
import Container from '@/components/ui/container';
import { Caption, Heading } from '@/components/ui/typography';
import getProjects from '@/lib/sanity/get-projects';

const projects = await getProjects();
---

<section
  id="work"
  aria-labelledby="work-heading"
  class="relative z-10 w-full bg-neutrals-900 py-28"
>
  <Container>
    <div class="flex flex-col items-center text-center">
      <Caption id="work-heading">Work</Caption>
      <Heading>Dig into my universe</Heading>
    </div>
  </Container>
  <ProjectCarousel
    client:idle
    projects={projects}
  />
</section>
