---
import { type Testimonial } from '@/lib/sanity/get-testimonials';
import { generateImageSizeProps } from '@/lib/sanity/sanity-image';
import { Image } from 'astro:assets';

type Props = {
  testimonial: Testimonial;
};

const { testimonial } = Astro.props;
---

<li
  class="border-neutrals-200/20 bg-radial-highlight relative me-6 h-full w-[32rem] max-w-[80vw] flex-[0_0_auto] rounded-lg border p-6"
>
  <article class="flex h-full flex-col justify-between gap-y-2">
    <blockquote class="text-neutrals-200 max-w-prose text-sm/relaxed">
      &quot;{testimonial.quote}&quot;
    </blockquote>
    <div class="mt-6 flex items-center">
      <div class="me-3 flex">
        <div
          class="bg-shiny-frame h-10 w-10 overflow-hidden rounded-full border border-transparent"
        >
          <Image
            alt={(testimonial.logo ?? testimonial.avatar).alt}
            class="h-full w-full"
            style={{
              backgroundColor: (testimonial.logo ?? testimonial.avatar).asset.metadata.palette
                .dominant.background,
            }}
            {...generateImageSizeProps({
              image: testimonial.logo ?? testimonial.avatar,
              sizes: '160px',
              width: 40,
              height: 40,
              maxWidth: 160,
            })}
          />
        </div>
        {
          testimonial.logo && (
            <div class="bg-shiny-frame -ms-3 h-10 w-10 overflow-hidden rounded-full border border-transparent">
              <Image
                alt={testimonial.avatar.alt}
                class="h-full w-full"
                style={{
                  backgroundColor: testimonial.avatar.asset.metadata.palette.dominant.background,
                }}
                {...generateImageSizeProps({
                  image: testimonial.avatar,
                  sizes: '160px',
                  width: 40,
                  height: 40,
                  maxWidth: 160,
                })}
              />
            </div>
          )
        }
      </div>
      <div>
        <cite>
          <h3 class="mb-0.5 leading-tight not-italic max-lg:text-sm">{testimonial.name}</h3>
        </cite>
        <p class="text-neutrals-200 text-xs lg:text-sm">{testimonial.title}</p>
      </div>
    </div>
  </article>
</li>
