//  =========================
//  Section component styling
//  =========================

.section {
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: -2;
  background-color: var(--color-off-white);

  &--is-dark {
    background-color: var(--color-dark-not-black);
  }

  &--is-brand {
    background-color: var(--color-brand);
  }

  &--has-future-grid-background {
    background-image: url('../img/future-grid.webp');
  }
}
