//  =======================
//  Split component styling
//  ========================

.split {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 2em;
  }

  @media only screen and (min-width: 600px) {
    flex-direction: row;

    & > * {
      flex-basis: 100%;
    }

    & > * + * {
      margin-top: 0;
      margin-left: 4em;
    }
  }
}
