//  =======================
//  Split component styling
//  ========================

//  Imports mixins for responsiveness
@use '../abstracts/mixins' as mixins;

.split {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 2.6em;
  }

  @include mixins.responsive-up('small') {
    flex-direction: row;

    & > * {
      flex-basis: 100%;
    }

    & > * + * {
      margin-top: 0;
      margin-left: 4.6em;
    }
  }
}
