//  ========================================
//  Typewriter/Typing Text component styling
//  ========================================

.typewriter {
  display: block;
}

.typewriter__container {
  display: inline-block;
}

.typewriter__text {
  overflow: hidden;
  border-right: 4.2px solid var(--color-off-white);
  white-space: nowrap;
  box-sizing: border-box;
  width: 0;
}
