---
import PageNotFound from '@/components/sections/page-not-found.astro';
import Layout from '@/layouts/layout.astro';

export const prerender = true;
---

<Layout title="Page not found">
  <main id="main">
    <PageNotFound />
  </main>
</Layout>
