---
import PageNotFoundSection from '@/components/sections/page-not-found.astro';
import Layout from '@/layouts/layout.astro';

export const prerender = false;
---

<Layout title="Page not found">
  <main id="main">
    <PageNotFoundSection />
  </main>
</Layout>
