---
import NotFoundSection from '@/components/sections/not-found.astro';
import Layout from '@/layouts/layout.astro';

export const prerender = false;
---

<Layout title="Page not found">
  <main id="main">
    <NotFoundSection />
  </main>
</Layout>
