---
import About from '@/components/sections/about.astro';
import Contact from '@/components/sections/contact.astro';
import Hero from '@/components/sections/hero.astro';
import SourceCode from '@/components/sections/source-code.astro';
import Testimonials from '@/components/sections/testimonials.astro';
import Work from '@/components/sections/work.astro';
import Layout from '@/layouts/layout.astro';
---

<Layout isInitialHeaderBackgroundTransparent>
  <main id="main">
    <Hero />
    <About />
    <Work />
    <Testimonials />
    <Contact />
    <SourceCode />
  </main>
</Layout>
