---
import { Icons } from '@/components/ui/icons';
import { type Props as $, type Block } from 'astro-portabletext/types';
import slugify from 'slugify';

type Props = $<Block>;

const { node } = Astro.props;

const HeadingTag = node.style as 'h2' | 'h3' | 'h4';

const headingText: unknown = node.children[0]?.text;
const safeHeadingText = typeof headingText === 'string' ? headingText : '';

const headingSlug = slugify(safeHeadingText, {
  lower: true,
  strict: true,
  locale: 'en',
});
---

<HeadingTag
  id={headingSlug}
  class="flex scroll-m-24"
>
  <a
    href={`#${headingSlug}`}
    class="not-prose group relative flex items-center lg:-ms-2 lg:ps-2"
  >
    <div
      class="absolute -ms-8 rounded-md border-0.5 border-neutrals-500 bg-neutrals-700 p-1.5 text-neutrals-200 opacity-0 transition-opacity group-hover:opacity-100 group-focus-visible:opacity-100 max-lg:hidden"
    >
      <Icons.Link className="size-3" />
    </div><slot />
  </a>
</HeadingTag>
