---
import CodeBlock from '@/components/blog/code-block.astro';
import ExternalLink from '@/components/blog/external-link.astro';
import Heading from '@/components/blog/heading.astro';
import Image from '@/components/blog/image.astro';
import { type BlogPost } from '@/lib/sanity/get-blog-posts';
import { cn } from '@/lib/utils';
import { PortableText as PortableTextInternal } from 'astro-portabletext';
import { type ClassValue } from 'clsx';

type Props = {
  content: BlogPost['content'];
  className?: ClassValue;
};

const { content, className } = Astro.props;
---

<div
  class={cn(
    'prose-quote prose prose-primary prose-neutrals max-lg:prose-sm prose-a:relative prose-a:no-underline prose-a:after:absolute prose-a:after:inset-x-0 prose-a:after:bottom-0 prose-a:after:h-px prose-a:after:origin-center prose-a:after:bg-current prose-a:after:transition-all prose-a:after:duration-300 hover:prose-a:after:translate-y-1 hover:prose-a:after:bg-transparent focus-visible:prose-a:after:translate-y-1 focus-visible:prose-a:after:bg-current prose-code:rounded-sm prose-code:border-0.5 prose-code:border-neutrals-600 prose-code:bg-neutrals-800/40 prose-code:p-1 prose-code:font-normal prose-code:before:hidden prose-code:after:hidden [&:not(:first-child)]:prose-h2:pt-8 [&:not(:first-child)]:prose-h2:border-t [&:not(:first-child)]:prose-h2:border-neutrals-700',
    className,
  )}
>
  <PortableTextInternal
    value={content}
    components={{
      block: {
        h2: Heading,
        h3: Heading,
        h4: Heading,
      },
      type: {
        image: Image,
        code: CodeBlock,
      },
      mark: {
        link: ExternalLink,
      },
    }}
  />
</div>
