@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* manual declaration, as there is no supported clip-property feature yet */
  .glitch-1-clip {
    clip: rect(24px, 550px, 90px, 0);
  }
  .glitch-2-clip {
    clip: rect(85px, 550px, 140px, 0);
  }

  /* manual declaration, as this is only accessed through js */
  @-webkit-keyframes typing {
    0%,
    to {
      width: 0%;
    }
    40%,
    70% {
      width: 100%;
    }
  }
  @keyframes typing {
    0%,
    to {
      width: 0%;
    }
    40%,
    70% {
      width: 100%;
    }
  }
}
