@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-glitch-1 {
    clip: rect(24px, 550px, 90px, 0);
  }

  .clip-glitch-2 {
    clip: rect(85px, 550px, 140px, 0);
  }

  @keyframes typing {
    0%,
    to {
      width: 0%;
    }
    40%,
    70% {
      width: 100%;
    }
  }
}
