---
import ProjectDetails from '@/components/sections/project-details.astro';
import Layout from '@/layouts/layout.astro';
import type { Project } from '@/lib/get-projects';
import getProjects from '@/lib/get-projects';
import { imageUrlFor } from '@/lib/sanity-image';

export async function getStaticPaths() {
  const projects = await getProjects();

  return projects.map((project) => ({
    params: { slug: project.slug.current },
    props: { project },
  }));
}
export interface Props {
  project: Project;
}

const { project } = Astro.props;

const openGraphImage = {
  src: imageUrlFor(project.poster)
    .format('png')
    .width(1200)
    .height(630)
    .fit('crop')
    .url(),
  alt: project.poster.alt,
};
---

<Layout
  title={`${project.name} ― Projects`}
  description={project.description}
  openGraphImage={openGraphImage}
>
  <main id="main">
    <ProjectDetails project={project} />
  </main>
</Layout>
